body{
  background-color: rgb(252, 180, 37);
  text-align: center;
}
h1{
  font-family: 'Raleway', sans-serif;
}
select{
  background: white;
  width: 200px;
  height: 30px;
  border: none;
  padding: 2px;
  font-size: 14px;
}
#list_coders img{
  margin: 1em;
}
.show{
  display: inline;
}
.hide{
  display: none;
}
